$color-primary: #2106b5;
.portfolio_container {
    margin: 0 auto;
    width: 1270px;
    margin-top: 230px;
}

.title {
    margin-bottom: 100px;
    span {
        color: $color-primary;
        font-family: "Montserrat Alternates";
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 134.52%;
        letter-spacing: -0.03em;
    }
}

.swiper {
    display: flex;
    justify-content: center;
}
